
.fotters{
    display: inline-flex;
    flex-direction: row;
    float: left;
     justify-content: space-between;
 
 }
 .heading3{
   text-align: center;
    color: rgb(201, 143, 27);
    font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
 }
 .headfooter{
     margin-top: 2rem;
     color: goldenrod;
     font-family: 'Syne';
 font-style: normal;
 font-weight: 700;
 font-size: 25px;
 line-height: 30px;
 }
 
 .grid-footer{
     display: grid;
     grid-template-columns:5% 20% 20% 20%;
     grid-auto-rows: minmax(150px auto);
    gap: 10%;
    padding: 3rem;
 
 }
 .contactleft{
  margin-left: -2rem;
 }
 .submitfooter{
 margin-left: 2rem;
 margin-top: 1rem;
 width: 87px;
 height: 50px;
   color: white;
   border: none;
     /* gap: 10px; */
     background: linear-gradient(98.88deg, #f0d22b 13.12%, #ecd717 119.96%);
 border-radius: 40px;
 
 }
 .social-media{
    color: goldenrod;
 
   
 }
 .li{
  
 }
 
 .social li{
     padding: 1rem ;
     float: left; 
     list-style: none;
     margin-left: -3rem;
 }
 .pagecolor_page{
    color: goldenrod;
     font-family: 'Syne';
 font-style: normal;
 font-weight: 700;
 font-size: 25px;
 line-height: 30px;
 margin-left: 2rem;

 
 }
 .link li{
    list-style: none;
    text-decoration: none;
}
 .Footer1{
    margin-top: 6rem;
 }
 .pagecolor{
    color: goldenrod;
     font-family: 'Syne';
 font-style: normal;
 font-weight: 700;
 font-size: 25px;
 line-height: 30px;

 
 }
 .pad{
    color: goldenrod;
     float: left;  
 }
 .logo2{
    color: goldenrod;
 }
 
 
 .bitappslink{
  
     font-family: 'Syne';
     font-style: normal;
     font-weight: 700;
     font-size: 15px;
     line-height: 30px;
 
 }
 .bitappslink a{
    color: goldenrod;
     text-decoration: none;
 }
 .link a:hover{
    color: orange;
    cursor: pointer;
     opacity:1;
  } 
  .link a{
    color: rgb(15, 13, 13);
    text-decoration: none;
  }
  .link{
    margin-left: 1rem;
  }
  .link p{
    margin-left: 0rem;
  }
 .formbox2{
     padding: 0 1rem;
     padding: 15px 20px 16px;
     box-sizing: border-box;
     background: #FFFFFF;
 opacity: 0.87;
 border: 1px solid #D3D3D3;
 border-radius: 200px;
 }
 
 
 @media only screen and (max-width: 700px) {
     .Footer1{
         grid-template-columns: 1fr;
         overflow: hidden;
         margin-top: 3rem;
     }
     .grid-footer{
         grid-template-columns: 1fr;
     }
     .submitfooter{
         margin-left: 1rem;
         padding: 1rem;
     }
     .submit{
        margin-left: -1rem;
     
       }
      
     .headfooter{
         margin-top: 1rem;
     }
     .social-media{
         margin-top: 1rem;
     }
     .campany{
         margin-bottom: 2rem;
         padding: 3rem;
         margin-top: 2rem;
     }
     .link{
         margin-left: 4rem;
     }
     .pagecolor_page{
        margin-left: 1rem;
     }
     .link li{
        list-style: none;
        text-decoration: none;
    } 
    .link p{
        margin-left: 1rem;
    }
    .link a:hover{
        color: orange;
        cursor: pointer;
         opacity:1;
      } 
      .link a{
        color: rgb(15, 13, 13);
        text-decoration: none;
      }
    
     .logo2{
         margin-left: 6rem;
     }
     .contactleft{
         margin-left: 4rem;
     }
     .contactleft p{
         margin-left: 1rem;
     }
     .pagecolor {
         /* padding: 2rem; */
        margin-left: 3rem;
     }
       .email{
        margin-left: -2rem;
       }
     .footerform{
        margin-left:-1rem;
     }
     .social-media{
         margin-left: 1rem;
     }
    .pad{
      margin-top: -1rem;
    }
    .hr{
     margin-top: 3rem;
    }
    .hr2{
     margin-top: 8rem;
    }
 }
 .pad a{
    /* color: goldenrod; */
    /* border: none; */
 }